@(url: String, id: Option[String] = None)(loader: Html)(error: Html)

<div class="ajax-container" ajax-container-url="@url">
  <div class="content"></div>
  <div class="loader"></div>
  <div class="error">
    <div partial="tableError?error=hallo&something]"></div>
    <div partial-field="error"></div>
  </div>
</div>