@import "../meterial-color";

html {
  font-family: 'Raleway', sans-serif;
}

ul {
  list-style: none;
}

#frame-nav {
  position: fixed;
  left: 0;
  top: 50%;
  margin-top: -150px;
  height: 100%;
  width: 200px;

  ul {
    vertical-align: middle;

    li {
      margin: 20px 5px;
      height: 60px;

      a {
        padding: 5px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        margin: 0 auto;
        text-align: center;
        width: 180px;
        height: 100%;
        cursor: pointer;
        color: #000000;

        .shape {
          stroke-dasharray: 80 310;
          stroke-dashoffset: -293;
          fill: transparent;
          stroke: #000000;
          border-bottom: 5px solid black;
          transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
        }

        .text {
          font-size: 18px;
          line-height: 32px;
          letter-spacing: 4px;
          top: -48px;
          position: relative;
        }

        &:hover .shape {
          stroke-width: 2px;
          stroke-dashoffset: 0;
          stroke-dasharray: 760;
        }
      }
    }

    &.nav-white {
      .shape {
        stroke: #FFFFFF;
        border-bottom-color: #FFFFFF;
      }

      .text {
        color: #FFFFFF;
      }
    }
  }
}

.page-container {

  #page-introduction {

    div.image {
      width: 700px;
      height: 700px;
      position: absolute;
      bottom: 0;
      left: 100px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    div.text {
      font-weight: 200;
      font-size: 30px;
      position: absolute;
      right: 0;
      width: 500px;
      top: 50%;
      margin-top: -300px;
    }
  }

  #page-projects {
    padding-left: 200px;

    background-color: $clr-black;
  }

  #page-skills {
    padding-left: 200px;

    background-color: $clr-blue;
  }

  #page-experience {
    padding-left: 200px;

    background-color: $clr-grey-800;

  }

  #page-find-me {
    padding-left: 200px;

    background-color: $clr-blue-grey;

  }

  #page-contact-me {

  }
  //.page {
  //  background-color: red;
  //  position: absolute;
  //  height: 100%;
  //
  //
  //  &.active {
  //    display: block;
  //  }
  //}
}

footer {
  #social-media-container {
    position: absolute;
    bottom: 10px;
    right: 0;

    ul {
      &.nav-white {
        .shape {
          stroke: #FFFFFF;
          border-bottom-color: #FFFFFF;
        }

        .text {
          color: #FFFFFF;
        }
      }

      li {
        float: left;
        height: 60px;

        a {
          padding: 5px;
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          margin: 0 auto;
          text-align: center;
          width: 180px;
          height: 100%;
          cursor: pointer;
          color: #000000;

          .shape {
            stroke-dasharray: 80 310;
            stroke-dashoffset: -293;
            fill: transparent;
            stroke: #000000;
            border-bottom: 5px solid black;
            transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
          }

          .text {
            font-size: 30px;
            line-height: 32px;
            letter-spacing: 4px;
            top: -48px;
            position: relative;
          }

          &:hover .shape {
            stroke-width: 2px;
            stroke-dashoffset: 0;
            stroke-dasharray: 760;
          }
        }
      }

      &.nav-white {
        .shape {
          stroke: #FFFFFF;
          border-bottom-color: #FFFFFF;
        }

        .text {
          color: #FFFFFF;
        }
      }
    }
  }
}