@()

@svg_reg_button(height: Int, width: Int)(content: Html) = {
  <svg height="@height" width="@width" xmlns="http://www.w3.org/2000/svg">
    <rect class="shape" height="@height" width="@width" />
    <div class="text">@content</div>
  </svg>
}
@BaseFrame {
  @*<link rel="stylesheet" href="@routes.Assets.versioned("plugins/vertical_timeline/style.css")">*@
  @*<link rel="stylesheet" href="@routes.Assets.versioned("plugins/vertical_timeline/reset.css")">*@
  <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/frames/portfolio.css")">
  <script type="text/javascript" src="@routes.Assets.versioned("javascripts/frames/portfolio.js")"></script>
  @*<header>@header</header>*@
  <nav id="frame-nav">
    <ul>
      <li><a>
      @svg_reg_button(60, 180) {
        Introduction
      }
      </a></li>
      <li><a>
      @svg_reg_button(60, 180) {
        Projects
      }
      </a></li>
      <li><a>
      @svg_reg_button(60, 180) {
        Find Me
      }
      </a></li>
    </ul>
  </nav>

  <div class="page-container">
    <div id="page-introduction" class="section" page-id="introduction">@pages.portfolio.introduction()</div>
    <div id="page-projects" class="section" page-id="projects">@pages.portfolio.projects()</div>
    <div id="page-skills" class="section" page-id="skills">@pages.portfolio.skills()</div>
    <div id="page-experience" class="section pp-scrollable" page-id="experiece">@pages.portfolio.experience()</div>
    <div id="page-find-me" class="section" page-id="find-me">@pages.portfolio.find_me()</div>
  </div>

  <div id="pagepiling">
    <div class="section">Some section</div>
    <div class="section">Some section</div>
    <div class="section">Some section</div>
    <div class="section">Some section</div>
  </div>

  <footer>
    <div id="social-media-container">
      <ul>
        <li><a href="@routes.Application.linkedIn()">
        @svg_reg_button(60, 60) {
          <i class="fa fa-linkedin"></i>
        }
        </a></li>
        <li><a href="@routes.Application.gitHub()">
        @svg_reg_button(60, 60) {
          <i class="fa fa-github"></i>
        }
        </a></li>
        <li><a href="@routes.Application.bitBucket()">
        @svg_reg_button(60, 60) {
          <i class="fa fa-bitbucket"></i>
        }
        </a></li>
        <li><a href="@routes.Application.gitLab()">
        @svg_reg_button(60, 60) {
          <i class="fa fa-gitlab"></i>
        }
        </a></li>
        <li><a href="@routes.Application.facebook()">
        @svg_reg_button(60, 60) {
          <i class="fa fa-facebook"></i>
        }
        </a></li>
        <li><a href="@routes.Application.twitter()">
        @svg_reg_button(60, 60) {
          <i class="fa fa-twitter"></i>
        }
        </a></li>
      </ul>
    </div>
  </footer>
}