@(buildInfo: Map[String, Any])

@BaseFrame {
  <table>
    <tbody>
    @buildInfo.map {
      case (key, value: String) => {
        <tr> <td>@key</td> <td>@value</td> </tr>
      }

      case (key, value: Int) => {
        <tr> <td>@key</td> <td>@value</td> </tr>
      }

      case (key, values: List[String]) => {
        <tr>
          <td>@key</td>
          <td>
          @for(value ← values) {
            <div>@value</div>
          }
          </td>
        </tr>
      }

      case _ => {}
    }
    </tbody>
  </table>
}
