@()

<ul>
  <li><a href="@routes.Application.linkedIn()">LinkedIn<i></i></a></li>
  <li><a href="#@routes.Application.gitHub()"><i></i></a></li>
  <li><a href="@routes.Application.bitBucket()"><i></i></a></li>
  <li><a href="@routes.Application.gitLab()"><i></i></a></li>
  <li><a href="@routes.Application.facebook()"><i></i></a></li>
  <li><a href="@routes.Application.twitter()"><i></i></a></li>
</ul>