@()

<div class="slide">
  <section>
    <header>Scala</header>
    <article>
      <ul>
        <li><span class="icon"></span><span class="text">Play Framework</span><span class="level"></span></li>
        <li><span class="icon"></span><span class="text">Akka</span><span class="level"></span></li>
        <li><span class="icon"></span><span class="text">Spray</span><span class="level"></span></li>
      </ul>
    </article>
  </section>
</div>
<div class="slide">Front-end</div>
<div class="slide">Backend-end</div>
<div class="slide">Dev Ops</div>
<div class="slide">Other</div>